@charset "UTF-8";

.menu{
    width: 100%;
    margin-top: 0px;
    padding: 20px;
    background-image: linear-gradient(to top, #025325dc 20%, #23da63a2);
    text-align: center;
}
.menu h1,
.menu p{
    margin-top: 2px;
    width: auto;
    padding: 0px;
    padding-bottom: 5px;
    color: white;
    font-family: "Courier New", Courier, monospace; 
    text-align: center;
}
.menu .lista-nao-ordenada li{
    color:white;
    padding:0;
    margin: 0;
    height: 0px; 
}
.menu .lista-nao-ordenada ul{
    display: flex;
    gap: 20px;
    padding-top: 5px;
    padding: 1px;
    margin:2px;
    justify-content: flex-start;
}
.menu .lista-nao-ordenada li:first-child{
    padding-left: 10px;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #23da63a2;
}
.conteudo{
    background-color: white;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 0px;
    border-radius: 10px;
    font-family: Georgia, serif;
    text-align: justify;
}
.lista-nao-ordenada ul{
    list-style:none;
    margin: 0;
    padding:0;
    Display:flex;
    flex-wrap: wrap;
    Text-align:left;
}
.lista-nao-ordenada li{
    margin: 10px;
    padding: 0px;
    display:flex;
    text-align:left;
}
.lista-ordenada{
    margin:0;
    padding:5px;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8em;
}
.lista-ordenada ol{
    margin:5px;
    padding-left:0px;
    flex-wrap: wrap;
}
.lista-ordenada li{
    list-style:none;
    text-align:justify;
}
.video-sombra{
    background-color: #034620;
    padding:20px;
    margin: 20px auto;
    max-width: 800px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.video-sombra, video{
    width: 100%;
    height: auto;
    display:auto
}
.imagem-centralizada{
    display: block;
    margin:0 auto;
}
h1, h2, h3{
    padding: 10px;
    margin: 5px;
    width: 100%;
}
p, ol{
    padding: 10px;
    margin: 5px;
    text-indent: 30px;
}
h1, h2{
    color: #035828;
    font-family: "Courier New", Courier, monospace;
}
h2{
    text-shadow: 1px 1px 1px #045e23;
    background-color: #48f1835e; 
}
.extra{
    max-width: 700px;
    width: 100%;
    background-color:#b9e9c9;
    margin: 0px auto;
    border-radius: 10px;
}
h3{
    background-color:#3bb967;
    color: white;
    max-width: 700px;
    margin:0 auto;
    border-radius: 3px;  
}
.ultimo-paragrafo{
    padding-bottom: 30px;
}